<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Program</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-4">
    <h2>Add New Program</h2>
    <form th:action="@{/saveProgram}" th:object="${program}" method="post">
        <input type="hidden" id="diabeticId" th:name="diabeticId" th:value="${program.diabetic.id}" required>
        <div class="form-group">
            <label for="exercice">Select Exercise:</label>
            <select class="form-control" id="exercice" th:field="*{exercice}">
                <option th:each="exercice : ${exercices}"
                        th:value="${exercice.id}" th:text="${exercice.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="duration">Duration (in minutes):</label>
            <input type="number" class="form-control" id="duration" th:field="*{duration}">
        </div>
        <div class="form-group">
            <label for="sugarEffect">Sugar Effect:</label>
            <input type="number" class="form-control" id="sugarEffect" th:value="${program.exercice.sugarEffect}" readonly>
        </div>
        <div class="form-group">
            <label for="bloodSugarBefore">Blood Sugar Before:</label>
            <input type="number" class="form-control" id="bloodSugarBefore" th:name="*{bloodSugarBefore}" th:value="${program.glycemie.value}" readonly>
        </div>
        <div class="form-group">
            <label for="bloodSugarAfter">Blood Sugar After:</label>
            <input type="number" class="form-control" id="bloodSugarAfter" th:field="*{bloodSugarAfter}" readonly>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var glycemieValue = parseFloat(document.getElementById('bloodSugarBefore').value);
        var sugarEffect = parseFloat(document.getElementById('sugarEffect').value);
        var bloodSugarAfter = document.getElementById('bloodSugarAfter');

        function calculateBloodSugarAfter() {
            var calculatedBloodSugarAfter = glycemieValue - sugarEffect;
            bloodSugarAfter.value = calculatedBloodSugarAfter.toFixed(2);
        }

        calculateBloodSugarAfter();
    });
</script>

</body>
</html>
